<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <!--<add key="sourcePath" value=""/>
    <add key="destinationPath" value=""/>
    <add key="filePath" value=""/>-->
    <add key="sourcePath" value="C:\Users\Yeasin\Downloads\FileSearcher"/>
    <add key="destinationPath" value="F:\test"/>
    <add key="filePath" value="C:\Users\Yeasin\Downloads\FileSearcher\test.xls"/>
  </appSettings>
</configuration>